{% extends 'base.html.twig' %}

{% block main %}
    <div class="container">
        <!-- START THE FEATURETTES -->
        <div class="featurette-container">
            <div class="featurette">
                <div class="featurette-image-wrapper">
                    <img class="featurette-image" src="{{ asset('img/logo.png') }}" alt="{{ 'caption_1' | trans({}, 'association') }}">
                </div>
                <p class="text-muted">{{ 'caption_1' | trans({}, 'association') }}</p>
            </div>

            <hr class="featurette-divider">

            <div class="featurette">
                <h2 class="featurette-heading">{{ 'who_we_are' | trans({}, 'association') }}</h2>

                {{ 'who_we_are_text' | trans({}, 'association') | raw }}
            </div>

            <hr class="featurette-divider">

            <div class="featurette">
                <h2 class="featurette-heading">{{ 'mission' | trans({}, 'association') }}</h2>

                {{ 'mission_text' | trans({}, 'association') | raw }}
            </div>

            <hr class="featurette-divider">

            <div class="featurette">
                <h2 class="featurette-heading">{{ 'vision' | trans({}, 'association') }}</h2>

                {{ 'vision_text' | trans({}, 'association') | raw }}
            </div>
        </div>
        <!-- /END THE FEATURETTES -->
    </div>
{% endblock %}
