{% extends 'base.html.twig' %}

{% block main %}
    <div class="container">
        <!-- START THE FEATURETTES -->
        <div class="featurette-container">
            <div class="row featurette">
                <div class="col-md-5">
                    <img class="featurette-image w-100 border" src="{{ asset('img/thumbnail.png') }}" alt="{{ 'caption_1' | trans({}, 'index') }}">
                    <p class="text-muted">{{ 'caption_1' | trans({}, 'index') }}</p>
                </div>
                <div class="col-md-7">
                    <h2 class="featurette-heading">{{ 'who_we_are' | trans({}, 'index') }}</h2>

                    {{ 'who_we_are_text' | trans({}, 'index') | raw }}
                </div>
            </div>

            <hr class="featurette-divider">

            <div class="row featurette">
                <div class="col-md-7">
                    <h2 class="featurette-heading">{{ 'mission' | trans({}, 'index') }}<span class="text-muted">...</span></h2>

                    {{ 'mission_text' | trans({}, 'index') | raw }}
                </div>
                <div class="col-md-5">
                    <img class="featurette-image w-100" src="{{ asset('img/thumbnail.png') }}" alt="{{ 'caption_2' | trans({}, 'index') }}">
                    <p class="text-muted">{{ 'caption_2' | trans({}, 'index') }}</p>
                </div>
            </div>

            <hr class="featurette-divider">

            <div class="row featurette">
            <div class="col-md-5">
                <img class="featurette-image w-100 border" src="{{ asset('img/thumbnail.png') }}" alt="{{ 'caption_3' | trans({}, 'index') }}">
                <p class="text-muted">{{ 'caption_3' | trans({}, 'index') }}</p>
            </div>
            <div class="col-md-7">
                <h2 class="featurette-heading">{{ 'vision' | trans({}, 'index') }}</h2>

                {{ 'vision_text' | trans({}, 'index') | raw }}
            </div>
        </div>
        </div>
        <!-- /END THE FEATURETTES -->
    </div>
{% endblock %}
