{% extends 'base.html.twig' %}

{% block main %}
    <div class="container">
        <!-- START THE FEATURETTES -->
        <div class="featurette-container">
            <div class="row featurette">
                <div class="col-md-5">
                    <div class="featurette-image-wrapper">
                        <img class="featurette-image" src="{{ asset('img/logo_big.png') }}" alt="{{ 'caption_1' | trans({}, 'index') }}">
                    </div>
                    <p class="text-muted">{{ 'caption_1' | trans({}, 'index') }}</p>
                </div>
                <div class="col-md-7">
                    <h2 class="featurette-heading">{{ 'who_we_are' | trans({}, 'index') }}</h2>

                    {{ 'who_we_are_text' | trans({}, 'index') | raw }}
                </div>
            </div>

            <hr class="featurette-divider">

            <div class="row featurette">
                <div class="col-md-5 order-md-1">
                    <div class="featurette-image-wrapper">
                        <img class="featurette-image" src="{{ asset('img/img02.jpg') }}" alt="{{ 'caption_1' | trans({}, 'index') }}">
                    </div>
                    <p class="text-muted">{{ 'caption_2' | trans({}, 'index') }}</p>
                </div>
                <div class="col-md-7">
                    <h2 class="featurette-heading">{{ 'mission' | trans({}, 'index') }}</h2>

                    {{ 'mission_text' | trans({}, 'index') | raw }}
                </div>
            </div>

            <hr class="featurette-divider">

            <div class="row featurette">
            <div class="col-md-5">
                <div class="featurette-image-wrapper">
                    <img class="featurette-image" src="{{ asset('img/img04.jpg') }}" alt="{{ 'caption_1' | trans({}, 'index') }}">
                </div>
                <p class="text-muted">{{ 'caption_3' | trans({}, 'index') }}</p>
            </div>
            <div class="col-md-7">
                <h2 class="featurette-heading">{{ 'vision' | trans({}, 'index') }}</h2>

                {{ 'vision_text' | trans({}, 'index') | raw }}
            </div>
        </div>
        </div>
        <!-- /END THE FEATURETTES -->
    </div>
{% endblock %}
