{% extends 'base.html.twig' %}

{% block main %}
    <div class="container">
        <!-- START THE FEATURETTES -->
        <div class="featurette-container">
            <div class="row featurette">
                <div class="col-md-5">
                    <div class="featurette-image-wrapper">
                        <img class="featurette-image" src="{{ asset('img/4.jpg') }}" alt="{{ 'caption_1' | trans({}, 'what') }}">
                    </div>
                    <p class="text-muted">{{ 'caption_1' | trans({}, 'what') }}</p>
                </div>
                <div class="col-md-7">
                    <h2 class="featurette-heading">{{ 'lawsuits' | trans({}, 'what') }}</h2>

                    {{ 'lawsuits_text' | trans({}, 'what') | raw }}
                </div>
            </div>

            <hr class="featurette-divider">

            <div class="row featurette">
                <div class="col-md-5 order-md-1">
                    <div class="featurette-image-wrapper">
                        <img class="featurette-image" src="{{ asset('img/img03.jpg') }}" alt="{{ 'caption_1' | trans({}, 'what') }}">
                    </div>
                    <p class="text-muted">{{ 'caption_2' | trans({}, 'what') }}</p>
                </div>
                <div class="col-md-7">
                    <h2 class="featurette-heading">{{ 'residency_permit' | trans({}, 'what') }}</h2>

                    {{ 'residency_permit_text' | trans({}, 'what') | raw }}
                </div>
            </div>

            <hr class="featurette-divider">

            <div class="row featurette">
                <div class="col-md-5">
                    <div class="featurette-image-wrapper">
                        <img class="featurette-image" src="{{ asset('img/img02.jpg') }}" alt="{{ 'caption_1' | trans({}, 'what') }}">
                    </div>
                    <p class="text-muted">{{ 'caption_3' | trans({}, 'what') }}</p>
                </div>
                <div class="col-md-7">
                    <h2 class="featurette-heading">{{ 'residence_card' | trans({}, 'what') }}</h2>

                    {{ 'residence_card_text' | trans({}, 'what') | raw }}
                </div>
            </div>

            <hr class="featurette-divider">

            <div class="row featurette">
                <div class="col-md-5 order-md-1">
                    <div class="featurette-image-wrapper">
                        <img class="featurette-image" src="{{ asset('img/img04.jpg') }}" alt="{{ 'caption_1' | trans({}, 'what') }}">
                    </div>
                    <p class="text-muted">{{ 'caption_4' | trans({}, 'what') }}</p>
                </div>
                <div class="col-md-7">
                    <h2 class="featurette-heading">{{ 'citizenship' | trans({}, 'what') }}</h2>

                    {{ 'citizenship_text' | trans({}, 'what') | raw }}
                </div>
            </div>

            <hr class="featurette-divider">

            <div class="row featurette">
                <div class="col-md-5">
                    <div class="featurette-image-wrapper">
                        <img class="featurette-image" src="{{ asset('img/img05.jpg') }}" alt="{{ 'caption_1' | trans({}, 'what') }}">
                    </div>
                    <p class="text-muted">{{ 'caption_5' | trans({}, 'what') }}</p>
                </div>
                <div class="col-md-7">
                    <h2 class="featurette-heading">{{ 'visas_for_entry' | trans({}, 'what') }}</h2>

                    {{ 'visas_for_entry_text' | trans({}, 'what') | raw }}
                </div>
            </div>

            <hr class="featurette-divider">

            <div class="row featurette">
                <div class="col-md-5 order-md-1">
                    <div class="featurette-image-wrapper">
                        <img class="featurette-image" src="{{ asset('img/img06.jpg') }}" alt="{{ 'caption_1' | trans({}, 'what') }}">
                    </div>
                    <p class="text-muted">{{ 'caption_6' | trans({}, 'what') }}</p>
                </div>
                <div class="col-md-7">
                    <h2 class="featurette-heading">{{ 'family_reunification' | trans({}, 'what') }}</h2>

                    {{ 'family_reunification_text' | trans({}, 'what') | raw }}
                </div>
            </div>

            <hr class="featurette-divider">

            <div class="row featurette">
                <div class="col-md-5">
                    <div class="featurette-image-wrapper">
                        <img class="featurette-image" src="{{ asset('img/4.jpg') }}" alt="{{ 'caption_1' | trans({}, 'what') }}">
                    </div>
                    <p class="text-muted">{{ 'caption_7' | trans({}, 'what') }}</p>
                </div>
                <div class="col-md-7">
                    <h2 class="featurette-heading">{{ 'family_cohesion' | trans({}, 'what') }}</h2>

                    {{ 'family_cohesion_text' | trans({}, 'what') | raw }}
                </div>
            </div>

            <hr class="featurette-divider">

            <div class="row featurette">
                <div class="col-md-5 order-md-1">
                    <div class="featurette-image-wrapper">
                        <img class="featurette-image" src="{{ asset('img/img08.jpg') }}" alt="{{ 'caption_1' | trans({}, 'what') }}">
                    </div>
                    <p class="text-muted">{{ 'caption_8' | trans({}, 'what') }}</p>
                </div>
                <div class="col-md-7">
                    <h2 class="featurette-heading">{{ 'international_protection' | trans({}, 'what') }}</h2>

                    {{ 'international_protection_text' | trans({}, 'what') | raw }}
                </div>
            </div>
        </div>
        <!-- /END THE FEATURETTES -->
    </div>
{% endblock %}
