{% extends 'base.html.twig' %}

{% block main %}
    <div class="container">
        <!-- START THE FEATURETTES -->
        <div class="featurette-container">
            <div class="featurette">
                <div class="featurette-image-wrapper">
                    <img class="featurette-image" src="{{ asset('img/4.jpg') }}" alt="{{ 'caption_1' | trans({}, 'what') }}">
                </div>
                <p class="text-muted">{{ 'caption_1' | trans({}, 'what') }}</p>
            </div>

            <hr class="featurette-divider">

            <div class="featurette">
                <h2 class="featurette-heading" id="permesso-di-soggiorno">{{ 'lawsuits' | trans({}, 'what') }}</h2>

                {{ 'lawsuits_text' | trans({}, 'what') | raw }}
            </div>

            <hr class="featurette-divider">

            <div class="featurette">
                <h2 class="featurette-heading" id="permesso-di-soggiorno">{{ 'residency_permit' | trans({}, 'what') }}</h2>

                {{ 'residency_permit_text' | trans({}, 'what') | raw }}
            </div>

            <hr class="featurette-divider">

            <div class="featurette">
                <h2 class="featurette-heading" id="carta-di-soggiorno">{{ 'residence_card' | trans({}, 'what') }}</h2>

                {{ 'residence_card_text' | trans({}, 'what') | raw }}
            </div>

            <hr class="featurette-divider">

            <div class="featurette">
                <h2 class="featurette-heading" id="cittadinanza">{{ 'citizenship' | trans({}, 'what') }}</h2>

                {{ 'citizenship_text' | trans({}, 'what') | raw }}
            </div>

            <hr class="featurette-divider">

            <div class="featurette">
                <h2 class="featurette-heading" id="visti-per-ingresso">{{ 'visas_for_entry' | trans({}, 'what') }}</h2>

                {{ 'visas_for_entry_text' | trans({}, 'what') | raw }}
            </div>

            <hr class="featurette-divider">

            <div class="featurette">
                <h2 class="featurette-heading" id="ricongiungimento-familiare">{{ 'family_reunification' | trans({}, 'what') }}</h2>

                {{ 'family_reunification_text' | trans({}, 'what') | raw }}
            </div>

            <hr class="featurette-divider">

            <div class="featurette">
                <h2 class="featurette-heading" id="coesione-familiare">{{ 'family_cohesion' | trans({}, 'what') }}</h2>

                {{ 'family_cohesion_text' | trans({}, 'what') | raw }}
            </div>

            <hr class="featurette-divider">

            <div class="featurette">
                <h2 class="featurette-heading" id="asilo-politico">{{ 'international_protection' | trans({}, 'what') }}</h2>

                {{ 'international_protection_text' | trans({}, 'what') | raw }}
            </div>
        </div>
        <!-- /END THE FEATURETTES -->
    </div>
{% endblock %}
