<nav class="navbar navbar-expand-lg navbar-light">
    <a class="navbar-brand" href="{{ path('index') }}" id="navbar-left">
        <img class="navbar-logo" src="{{ asset('img/logo.png') }}" alt="Associazione Articolo 2">
    </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarCollapse">
        <div class="navbar-nav mx-auto">
            {#<a class="nav-item nav-link{% if app.request.attributes.get('_route') == 'association' %} active{% endif %}" href="{{ path('association') }}">L'associazione<span class="sr-only">(current)</span></a>#}
            {#<a class="nav-item nav-link{% if app.request.attributes.get('_route') == 'what' %} active{% endif %}" href="{{ path('what') }}">Cosa facciamo</a>#}
            {#<a class="nav-item nav-link{% if app.request.attributes.get('_route') == 'projects' %} active{% endif %}" href="{{ path('projects') }}">Progetti/Eventi</a>#}
            {#<a class="nav-item nav-link{% if app.request.attributes.get('_route') == 'extra' %} active{% endif %}" href="{{ path('extra') }}">Extra italiani</a>#}
            <div class="nav-item dropdown">
                <a class="nav-link{% if app.request.attributes.get('_route') == 'association' %} active{% endif %} dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">L'associazione</a>
                <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdown2">
                    <a class="dropdown-item" href="{{ path('association') }}#chi-siamo">{{ 'who_we_are' | trans({}, 'association') }}</a>
                    <a class="dropdown-item" href="{{ path('association') }}#mission">{{ 'mission' | trans({}, 'association') }}</a>
                    <a class="dropdown-item" href="{{ path('association') }}#vision">{{ 'vision' | trans({}, 'association') }}</a>
                </div>
            </div>
            <div class="nav-item dropdown">
                <a class="nav-link{% if app.request.attributes.get('_route') == 'what' %} active{% endif %} dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Cosa facciamo</a>
                <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdown2">
                    <a class="dropdown-item" href="{{ path('what') }}#permesso-di-soggiorno">{{ 'residency_permit' | trans({}, 'what') }}</a>
                    <a class="dropdown-item" href="{{ path('what') }}#carta-di-soggiorno">{{ 'residence_card' | trans({}, 'what') }}</a>
                    <a class="dropdown-item" href="{{ path('what') }}#cittadinanza">{{ 'citizenship' | trans({}, 'what') }}</a>
                    <a class="dropdown-item" href="{{ path('what') }}#visti-per-ingresso">{{ 'visas_for_entry' | trans({}, 'what') }}</a>
                    <a class="dropdown-item" href="{{ path('what') }}#ricongiungimento-familiare">{{ 'family_reunification' | trans({}, 'what') }}</a>
                    <a class="dropdown-item" href="{{ path('what') }}#coesione-familiare">{{ 'family_cohesion' | trans({}, 'what') }}</a>
                    <a class="dropdown-item" href="{{ path('what') }}#asilo-politico">{{ 'international_protection' | trans({}, 'what') }}</a>
                </div>
            </div>
            <div class="nav-item dropdown">
                <a class="nav-link{% if app.request.attributes.get('_route') == 'projects' %} active{% endif %} dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Progetti/Eventi</a>
                <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdown2">
                    <a class="dropdown-item" href="{{ path('projects') }}#art2-informa">{{ 'art2_informs' | trans({}, 'projects') }}</a>
                    <a class="dropdown-item" href="{{ path('projects') }}#eventi">{{ 'events' | trans({}, 'projects') }}</a>
                    <a class="dropdown-item" href="{{ path('projects') }}#collaborazioni">{{ 'collaborations' | trans({}, 'projects') }}</a>
                    <a class="dropdown-item" href="{{ path('projects') }}#networking">{{ 'networking' | trans({}, 'projects') }}</a>
                </div>
            </div>
            <div class="nav-item dropdown">
                <a class="nav-link{% if app.request.attributes.get('_route') == 'extra' %} active{% endif %} dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Extra italiani</a>
                <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdown2">
                    <a class="dropdown-item" href="{{ path('extra') }}#storie-di-integrazione">{{ 'stories_of_integration' | trans({}, 'extra') }}</a>
                    <div class="dropdown-divider"></div>
                    <a class="dropdown-item" href="{{ path('extra') }}#dicono-di-noi">{{ 'they_say_about_us' | trans({}, 'extra') }}</a>
                </div>
            </div>
        </div>
        <div class="navbar-nav ml-lg-3 justify-content-end" id="navbar-right">
            <a class="nav-item nav-link{% if app.request.attributes.get('_route') == 'contacts' %} active{% endif %}" href="{{ path('contacts') }}">Contatti</a>
            <div class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    <img class="locale-flag" src="{{ asset('img/' ~ app.request.locale ~ '.png') }}" alt="{{ "choose_the_language" | trans }}" title="{{ "choose_the_language" | trans }}">
                </a>
                <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdown">
                    {# ICONE: https://www.iconfinder.com/iconsets/195-flat-flag-psd-icons #}
                    <a class="dropdown-item" href="{{ path('locale', { _locale : 'it'} ) }}"><img class="locale-flag" src="{{ asset('img/it.png') }}" alt="it_IT" title="it_IT"> <span class="ml-2">Italiano</span></a>
                    <a class="dropdown-item" href="{{ path('locale', { _locale : 'en'} ) }}"><img class="locale-flag"  src="{{ asset('img/en.png') }}" alt="en_EN" title="en_EN"> <span class="ml-2">Inglese</span></a>
                </div>
            </div>
        </div>
    </div>
</nav>

{#<script>#}
    {#const left = $('#navbar-left');#}
    {#const right = $('#navbar-right');#}
    {#const max = Math.max(left.width(), right.width());#}
    {#left.width(max);#}
    {#right.width(max);#}
{#</script>#}
